
body{
    background-image: url("./img/wall.jpg");
    color: #125547;
    font-family: 'Alata', sans-serif;
    background-color: #ffcccc;
    width: 0;
    border: 0;
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar {
    width: 0px;
  }  
.icon{
    width: 8%;
    height: 8%;
    color:  #125547;
    padding-top: 1%;
    padding-right: 1%;
}
.box__left {
    position: fixed;
    width: 20%;
    height: 100%;
    overflow-y: scroll;
}

.box__middle {
    position: fixed;
    margin: 0 20%;
    width: 60%;
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
}

.box__right {
    position: fixed;
    margin: 0 80%;
    width: 20%;
    height: 100%;
   
}

#event__name {
    font-size: 108%;
    margin: 5% 0 0 5%;
}

#date{
    font-size: 50%;
    padding-left: 2%;

}

.person__container{
    margin: 2% 0 0 10%;
    width: 60%;
    height: 80%;
}

.expense {
    color: #f26d7d;
}

.task{
    color: #4d6753;
}
.person__list{
    max-height: 100%;
    padding: 2%;
    font-size: 99%;
    list-style: none;
    margin: 1% 2%;
}

#button__box{
    margin: 30%;
    font-size: 130%;
    text-align: left;
}

.button{
    background: none;
    width: 100%;
    font-size: 90% !important;
    text-align: left;
    color: inherit;
	border: none;
	padding: 10% 0 0%;
	font: inherit;
    outline: inherit;
    cursor: pointer;
    position: static;
    }

.inputs{
    margin: 10px 7px;
    background: #d9e9bb81;
    box-shadow: 1px 1px 2px black;
    width: 100%;
    padding: 7%;
    font-size: 55%;
    color: inherit;
    border-width: 0px;
    border-color: #4d6753;
    border-radius: 5px;
    outline: inherit;
    line-height: 100%;
}
.comment{
    font-size: 80%;
    color: #79816c
}
.comexpense{
    font-size: 80%;
    color: #f26d7d;
}