body {
    color: #426696;
    font-family: 'Alata', sans-serif;
    /* background: linear-gradient(to bottom, #6F4A80,#B176CC); */
    width: 0;
    border: 0;
    padding: 0;
    margin: 0;
}



::-webkit-scrollbar {
    width: 0px;
}

.icon {
    width: 8%;
    height: 8%;
    color: #b0b3b2;
    padding-top: 1%;
    padding-right: 1%;
}

.box__left {
    background: #60807A;
    position: fixed;
    width: 20%;
    height: 100%;
    overflow-y: scroll;
    transition-duration: 0.3s;
}

.box__middle {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);

    position: fixed;
    margin: 0 20% 0 20%;
    width: 60%;
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    transition-duration: 0.3s;
}

.person__menu{
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    height: 25%;
    border-radius: 5px;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.98),
        rgba(255,255,255, 0.8)
        );
    box-shadow: 2px 2px 3px rgba(0, 0, 0,0.5);
    padding: 2%;
}
.fa-plus-square{
    margin-left: 90%;
}

.menu__box__up{
    display: flex;
    flex-direction: row;
}

.fa-times{
    margin-left: 60%;
}

.box__right {
    position: fixed;
    margin-left: 80%;
    width: 20%;
    height: 100%;
}

#event__name {
    font-size: 108%;
    margin: 5% 0 0 5%;
}

#date {
    font-size: 50%;
    padding-left: 2%;
}

.person__container {
    margin: 2% 0 0 10%;
    width: 60%;
    height: 80%;
}

.expense {
    color: #f26d7d;
}

.task {
    color: #4d6753;
}

.person__list {
    max-height: 100%;
    padding: 2%;
    font-size: 99%;
    list-style: none;
    margin: 1% 2%;
    background: linear-gradient(
        to right bottom, 
        rgba(255, 255, 255, 0.7),
        rgba(255,255,255, 0.1)
        );
    border-radius: 5px;
    /* height: 5%;
    overflow-y: hidden; */
}

.person__header {
    display: flex;
}

.fa-chevron-down {
    margin-left: auto;
    cursor: pointer;
}


#button__box {
    padding: 40% 0% 0% 30%;
    font-size: 130%;
    text-align: left;
    transition-duration: 300ms;
}

button {
    background: none;
    width: 100%;
    font-size: 80% !important;
    text-align: left;
    color: inherit;
    border: none;
    padding: 1% 0 0%;
    font: inherit;
    outline: inherit;
    cursor: pointer;
    position: static;
    transition-duration: 0.3s;
}

.trash {
    font-size: 10px;
    margin-top: 3%;
    margin-left: 1rem;
    transition: 0.3s;
    cursor: pointer;
}

.trash:hover {
    font-size: 15px;
}

input {
    box-sizing: border-box
}

.inputs {
    size: 100%;
    background:linear-gradient(
        to right,
       rgba(191,255,243),
       rgba(255,255,255,0)
        );
    width: 99%;
    padding:3%;
    font-size: 55%;
    color: inherit;
    border-width: 0px;
    border-radius: 5px;
}

.comment {
    font-size: 90%;
    margin-left: 9px;
    color: #79816c
}

.comexpense {
    font-size: 90%;
    margin-left: 9px;
    color: #f26d7d;
}

.fa-bars {
    margin: 5px;
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 1;
    transition-duration: 0.3s;
}

.fa-bars:hover {
    rotate: 90deg;
    cursor: pointer;
    transform: rotate(90deg);
    transition-duration: 0.3s;
}

.description {
    font-size: smaller;
    color: rosybrown;
}